<a href="https://colab.research.google.com/github/mariavanez/SIC25-ApuntesYClases/blob/main/Curso%200%20de%20Programaci%C3%B3n%20en%20Python/B%C3%A1sicos_de_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**1. FUNCIÓN PRINT()**

##1. print() con strings

1. print() es un comando que genera valores dentro de () y se imprime en consola.

In [ ]:
print("Hello World!")

Hello World!

2. Para imprimir un String utilizando la función print(), debe encerrar ambos lados del String en comillas ("" o '')

In [ ]:
print('Hello World!')
print('Hello World!')

Hello World!
Hello World!

3. Usando "\n" (secuencia de escape) se genera un salto de línea en medio de una oración en los Strings

In [ ]:
print("Hola\nMundo")

Hola
Mundo

4. En la función print(), el principio y fin de una cadena se pueden agrupar con tres comillas dobles (""") o simples ('''). Esto mostrará la cadena agrupada incluyendo saltos de línea

In [ ]:
print('''Hola
      Mundo''')
print('''Hola
Mundo''')

Hola
      Mundo
Hola
Mundo

5. Sin embargo, si se coloca una barra invertida ("\\\") al final de una cadena agrupada en tres comillas, la línea no se dividirá y la siguiente línea se conectará a la misma línea.

In [ ]:
print('''Hello\
World!''')

HelloWorld!

##2. print() con valores numéricos int

1. Para imprimir valores numéricos, basta con escribir en los () los números sin comillas

In [ ]:
print(1)
print(16)
print(16, 4, 2004)

1
16
16 4 2004

2. También se pueden hacer operaciones aritméticas con la función print()

In [ ]:
print(16 + 4 + 2004)

2024

##3. print() con operadores suma(+), multiplicación(*) y coma(,)

1. Al usar una coma (,) en medio de dos valores, se forma un espacio entre dos ellos, permitiendo combinar así Strings (texto) con Int (números enteros)

In [ ]:
print("Hola", 123)
print("Hola,", "amigo")

Hola 123
Hola, amigo

2. El operador de suma (+) al usarse en un String, puede concatenar dos o más textos

In [ ]:
print("Hola" + "Mundo")
print("Hola," + " amigo. " + "Tiempo de no verte.")

HolaMundo
Hola, amigo. Tiempo de no verte.

3. Cuando se usa el operador de suma (+) en medio de dos valores numéricos, se imprime el resultado

In [ ]:
print(30 + 10)

40

4. Cuando se usa el operador de multiplicación para combinar un string con un entero positivo, la cadena se repite tantas veces como el número, sin espacios

In [ ]:
print("Hello" * 3)

HelloHelloHello

5. Si se combina el operador de multiplicación (*) con dos números enteros, se muestra el resultado de la operación

In [ ]:
print(2 * 4)

8

##4. Parámetros de fin y división

1. Cuando un programa encuentra una función print(), se produce un salto de línea. Sin embargo, si se especifica una cadena al final al final de la instrucción print(), se imprime la cadena en lugar del salto de línea.

In [ ]:
print('Hello', end = ' ')
print('World!')

print('Hello', end = ', ')
print("World!")

Hello World!
Hello, World!

2. El operador de coma (,) produce un espacio en medio de dos valores. Sin embargo, si se especifica con un parámetro "sep", se puede intercambiar ese espacio por un valor nuevo especificado

In [ ]:
print("Hola", "mundo", sep = '')
print("Hello", "World", sep = ',')
print("Holis", "cariño", sep = ' 123 ')

Holamundo
Hello,World
Holis 123 cariño

##5. Práctica \#1: Creación de Currículum

In [ ]:
print('Hello! I will introduce myself.')
print('******************************************************************')
print('Name: María Añez\nJob:Web Developer')
print('Age:', 2025 - 2004)
print('******************************************************************')
print('Adress:', end = ' ')
print('Barrio 12 de Octubre')
print('Place of Birth: Maracaibo', 'Venezuela', sep = ', ')

Hello! I will introduce myself.
******************************************************************
Name: María Añez
Job:Web Developer
Age: 21
******************************************************************
Adress: Barrio 12 de Octubre
Place of Birth: Maracaibo, Venezuela

#**2. FUNCIÓN INPUT()**

1. El nombre del usuario se almacena en la variable nombre.

In [ ]:
nombre = input("Escriba su nombre: ")
print("Hola,", nombre)

#PRUEBA CON IF (for fun jiji)
genero = input("Ingrese su género: ")
mujer = "mujer"
hombre = "hombre"

if(genero == mujer) :
    print("Bienvenida al mundo de la programación,", nombre)
else :
    print("Bienvenido al mundo de la programación,", nombre)

Escriba su nombre: María
Hola, María
Ingrese su género: Femenino
Bienvenido al mundo de la programación, María

2. Para introducir números enteros y usar valores artiméticos, debemos encerrar en la función int() una función input(), porque input() por defecto solo retorna strings (cadena de texto).

In [ ]:
x = int(input("Ingresa el primer número entero: "))
y = int(input("Ingresa el segundo número entero: "))
z = x + y
print("La suma de", x, "y", y, "da como resultado:", z)

Ingresa el primer número entero: 16
Ingresa el segundo número entero: 24
La suma de 16 y 24 da como resultado: 40

#**3. Python Keywords (no usar en varibales)**

- if
- for
- lambda
- continue
- True
- def
- from
- while
- nonlocal
- and
- del
- global
- not
- with
- as
- elif
- try
- try
- or
- except
- in
- raise

#**4. Operadores en Python**

- **Operador:  +**
  - Significado: adición
  - suma el operando izquierdo y el operando derecho

- **Operador: -**
  - Significado: sustracción
  - Restar el operando derecho del operando izquierdo.

- **Operador: \***
  - Significado: multiplicación
  - Multiplica el operando derecho por el operando izquierdo.

- **Operandor: /**
  - Significado: división
  - Dividir el operando izquierdo entre el operando derecho. La división en Python básicamente devuelve el valor del número real.

- **Operador: //**
  - Significado: división entera (cociente)
  - A diferencia de /, el resultado de la división se usa para descartar el punto decimal o menos y obtener solo la parte entera.

- **Operador: %**
  - Significado: resto
  - Se lee como operador de módulo y no tiene nada que ver con el porcentaje que significa proporción. Encuentra el resto de la división.

- **Operador: \****
  - Significado: potencia
  - Elevar el operando izquierdo al operando derecho. En el caso de **0.5, se realiza una operación de raíz cuadrada.

#**5. Tipos de datos básicos en Python**


1. **Número:**
  - int: números enteros (ejemplo: 10, 200).
  - float: números irracionales/decimales (ejemplo: 3.14)
  - complex: números complejos + irracionales (ejemplo: 4 + 3j)

2. **Booleano:**
  - True: cuando un dato es verdadero
  - False: cuando un dato es falso

3. **String:**
  - str: cadenas de texto (ejemplo: "hello", "100").

4. **Lista:**
  - [10, 20, 30]

5. **Tupla:**
  - (10, 20, 30)

6. **Diccionario:**
  - {"name": "David", "age": 23, "height": 56.5}

# **6. Precedencia de los operadores**

- Si los operadores de suma y multiplicación están en una misma línea de código, la multiplicación se ejecuta primero.
- Cuando hay paréntesis en una línea de código, los paréntesis se ejecutan primero.
- Los resultados del cálculo en la operación varían según el orden de procesameinto de los operadores.

1. () (paréntesis)
2. ** (potencia)
3. ~, +, - (operador monádico)
4. *, /, %, // (multiplicación, división, resto y cociente)
5. +, - (suma, resta)
6. \>>, << (operador de desplazamiento de bits)
7. & (operador AND a nivel de bits)
8. ^, | (operador XOR bita bit, operador OR bit a bit)
9. <=,  \<, >, >= (operadores de comparación)
10. ==, != (operador de igual, operador de diferencia)
11. =, %=, /=, //=, -=, +=, *=, **= (operador de asignación y operadores de asignación compuesta)
12. is, is not (operador de identidad)
13. not, or, and (operador logico)

#**7. Conversión de datos en Python**

> Para convertir un tipo de dato a otro, se puede hacer lo siguiente:

In [ ]:
int('10')/2 # No da errores porque hemos convertido una cadena a número entero.

5.0

In [ ]:
texto_concat = 'Me gusta el número ' + str(10) # No da errores porque hemos convertido el 10 de entero a cadena.

print(texto_concat)

Me gusta el número 10

También existe el tipo de dato **None** que significa que no hay valor o que aun no ha sido definido y está "vacío". Usamos la función **type()** para saber qué tipo de dato contiene una variable.

In [ ]:
a = None

type(a)

NoneType