<a href="https://colab.research.google.com/github/mariavanez/SIC25-ApuntesYClases/blob/main/Curso%200%20de%20Programaci%C3%B3n%20en%20Python/Listas_Tuplas_Diccionarios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Diccionarios**

En Python, un diccionario es una estructura de datos que sirve para almacenar pares clave–valor.

Piensa en un diccionario real: buscas una palabra (clave) y obtienes su definición (valor).

Un diccionario es como una "cajita" que asocia una clave única con un valor, muy útil cuando necesitas buscar datos rápidamente.

In [ ]:
mi_diccionario = {
    "nombre": "María",
    "edad": 25,
    "profesion": "Desarrolladora"
}

print(mi_diccionario)

{'nombre': 'María', 'edad': 25, 'profesion': 'Desarrolladora'}

## FUNCIONES DE DICCIONARIOS

### PARA ACCEDER A VALORES

In [ ]:
print(mi_diccionario["nombre"])
print(mi_diccionario["edad"])

María
25

> Si intentas acceder a una clave que no existe → KeyError.

Para evitar eso:

In [ ]:
print(mi_diccionario.get("pais", "No existe"))

No existe

### PARA MODIFICAR VALORES

In [ ]:
mi_diccionario["edad"] = 26
print(mi_diccionario)

{'nombre': 'María', 'edad': 26, 'profesion': 'Desarrolladora'}

### PARA AGREGAR PARES (CLAVE-VALOR) NUEVOS

In [ ]:
mi_diccionario["pais"] = "Venezuela"
print(mi_diccionario)

{'nombre': 'María', 'edad': 26, 'profesion': 'Desarrolladora', 'pais': 'Venezuela'}

### PARA ELIMINAR CLAVES

In [ ]:
del mi_diccionario["profesion"]   # Elimina la clave "profesion"
mi_diccionario.pop("edad")        # También elimina
print(mi_diccionario)

{'nombre': 'María', 'pais': 'Venezuela'}

## RECORRER DICCIONARIOS

### SOLO CLAVES

In [ ]:
for clave in mi_diccionario:
    print(clave)

nombre
pais

### SOLO VALORES

In [ ]:
for valor in mi_diccionario.values():
    print(valor)

María
Venezuela

### CLAVES Y VALORES

In [ ]:
for clave, valor in mi_diccionario.items():
    print(clave, '->', valor)

nombre -> María
pais -> Venezuela

## MÉTODOS ÚTILES

- dic.keys() -> todas las claves.
- dic.values() -> todos los valores.
- dic.items() -> pares (clave, valor).
- dic.clear() -> vacía el diccionario.



---

# **2. Listas**

En Python, una lista es una estructura de datos que sirve para almacenar varios elementos en un solo lugar, en un orden específico.

Las listas son ideales cuando necesitas almacenar y manipular colecciones de datos ordenados.

In [ ]:
mi_lista = [10, 20, 30, 40]
nombres = ["Ana", "Luis", "María"]
mixta = [1, "hola", 3.5, True]

# El primer índica siempre se referirá como 0.
# Las listas pueden contener cualquier tipo de dato, incluso otras listas.

## FUNCIONES EN LISTAS

### PARA ACCEDER A ELEMENTOS

> Python usa índices (empezando en 0):

In [ ]:
print(nombres[0])
print(nombres[2])

Ana
María

> También se puede usar índices negativos:

In [ ]:
print(nombres[-1])  # María (último)
print(nombres[-2])  # Luis (penúltimo)

María
Luis

### MODIFICAR ELEMENTOS

In [ ]:
mi_lista[1] = 25
print(mi_lista)

[10, 25, 30, 40]

### AGREGAR ELEMENTOS

In [ ]:
mi_lista.append(50)        # Agregar al final
mi_lista.insert(3, 30)     # Insertar en posición 3
print(mi_lista)

[15, 40, 50, 30, 50]

### ELIMINAR ELEMENTOS

In [ ]:
mi_lista.pop(2)       # Elimina por índice (posición 2)
del mi_lista[0]       # Elimina el primer elemento

print(mi_lista)

[40, 30, 50]

## RECORRER LISTAS

In [ ]:
for nombre in nombres:
    print(nombre)

Ana
Luis
María

## SLICING (SUBLISTAS)

In [ ]:
print(mi_lista[1:3])   # Elementos desde índice 1 hasta 2
print(mi_lista[:2])    # Desde el inicio hasta el índice 1
print(mi_lista[2:])    # Desde el índice 2 hasta el final
print(mi_lista[::-1])  # Lista invertida

[30, 50]
[40, 30]
[50]
[50, 30, 40]

## MÉTODOS ÚTILES DE LISTAS

- append(x) → agrega un elemento al final.

- insert(i, x) → agrega en una posición específica.

- remove(x) → elimina un valor.

- pop(i) → elimina por índice y lo devuelve.

- sort() → ordena la lista.

- reverse() → invierte el orden.

- count(x) → cuenta cuántas veces aparece un valor.

- len(lista) → cantidad de elementos.

## OPERADOR IN

El operador **in** devuelve True o False. Si se encuentra el valor en una lista, devuelve True, y sino, devuelve False (el operador **not in** devuelve todo lo contrario)

In [5]:
a_lista = [10, 20, 30, 40]

print(10 in a_lista)
print(50 in a_lista)
print(50 not in a_lista)

True
False
True

In [6]:
# Ejercicio con el operador in en una condicional

n_lista = [11, 22, 33, 44, 55, 66]

if (55 in n_lista):
  n_lista.remove(55)
if (88 in n_lista):
  n_lista.remove(88)

print(n_lista)

[11, 22, 33, 44, 66]



---

# **3. Tuplas**

Las tuplas en Python son muy parecidas a las listas, pero con una diferencia clave: **son inmutables**.

Eso significa que, una vez creadas, **no se pueden modificar** (ni agregar, ni eliminar, ni cambiar elementos).

> **¿Cuándo usar tuplas?**
- Cuando los datos no deben cambiar.
- Cuando quieres más seguridad e inmutabilidad.
- Cuando se necesitan como claves de diccionario o elementos de un set (las listas no pueden ser usadas allí porque son mutables).

In [12]:
mi_tupla = (10, 20, 30, 40)
nombres = ("Ana", "Luis", "María")
mixta = (1, "hola", 3.5, True)

# También se pueden crear sin paréntesis, usando solo comas:
mi_tupla2 = 1, 2, 3

# Si es una tupla de un solo elemento, necesitas una coma:
mi_tupla3 = (5,)

## FUNCIONES EN TUPLAS

### ACCEDER A ELEMENTOS EN TUPLAS

In [11]:
# Al igual que en las listas, con índices:

print(nombres[0])
print(nombres[-1])

Ana
María

### NO SE PUEDEN MODIFICAR

In [10]:
mi_tupla = (1, 2, 3)
mi_tupla[0] = 10 # No se puede modificar

TypeError: 'tuple' object does not support item assignment

## RECORRER TUPLAS

In [13]:
for valor in mi_tupla:
    print(valor)

10
20
30
40

## OPERACIONES CON TUPLAS

In [14]:
# CONCATENAR

t1 = (1, 2)
t2 = (3, 4)
t3 = t1 + t2
print(t3)

(1, 2, 3, 4)

In [15]:
# REPETIR

t = (1, 2) * 3
print(t)

(1, 2, 1, 2, 1, 2)

In [16]:
# PERTENENCIA

print(3 in (1, 2, 3))

True

## MÉTODOS EN TUPLAS

Las tuplas tienen pocos métodos (porque son inmutables):

- count(x) → cuántas veces aparece un valor.

- index(x) → en qué posición está el valor.

In [17]:
t = (10, 20, 10, 30)
print(t.count(10))
print(t.index(30))

2
3